:root {
    --brdr: 2px solid black;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.tile {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.right {
    border-left: var(--brdr);
}

.left {
    border-right: var(--brdr);
}

.top {
    border-bottom: var(--brdr);
}

.bottom {
    border-top: var(--brdr);
}

.hide {
    display: none;
}

.error:after {
    content:"* Please enter names for both players";
}

span {
    color: red;
}

#error {
    grid-column: 1 / 6;
}

.starting {
    display: grid;
    grid-template-rows: repeat(4, 20px);
    grid-template-columns: repeat(2, max-content);
    gap: 5px;
}

#start {
    grid-row-start: 4;
}

.board > div {
    text-align: center;
    font-size: 88px;
    cursor: pointer;
}